




<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index, follow">

	<title>Fee Structure</title>
	<meta name="description" content="Fee Structure">
	<meta name="keywords" content="Fee Structure">
	<link rel="canonical" href="https://www.cersai.org.in/CERSAI/feestructure.prg " />

<link
	href="themes/base/css/bootstrap.min.css"
	
	rel="stylesheet">
<link
	href="themes/base/icons/fontawesome/css/fontawesome.css"
	
	rel="stylesheet">
<link
	href="themes/base/fonts/css/font.css"
	
	rel="stylesheet">
<link href="themes/default/css/default-theme.css"

	rel="stylesheet">
<link href="themes/default/css/rti.css"

	rel="stylesheet">
<link href="themes/default/css/tenders.css"

	rel="stylesheet">
<link href="themes/default/css/aboutus.css"

	rel="stylesheet">
<link href="themes/default/css/login.css"

	rel="stylesheet">
	
<link
	href="themes/base/css/tablesaw.css"
	
	rel="stylesheet">
<link
	href="themes/base/css/addons/datatables.css"
	
	rel="stylesheet">
	
<link
	href="themes/default/css/custom-components.css"
	
	rel="stylesheet">	
<link
	href="themes/default/css/tables.css"
	
	rel="stylesheet">
<link
	href="themes/default/css/security-interest.css"
	
	rel="stylesheet">
<link
	href="themes/default/css/loader.css"
	
	rel="stylesheet">
<link
	href="themes/default/css/error.css"
	
	rel="stylesheet">
<link
	href="themes/default/css/footer.css"
	
	rel="stylesheet">
<link
	href="themes/default/css/preloginheader.css"
	
	rel="stylesheet">
<style>
#myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 0px;
    background-image: url("/CERSAI/sc/themes/default/images/preloginImages/WhiteBG.svg");
    width: 100px;
    height: 50px;
    opacity: 0.8;

  }
  
  #myBtn:hover {
      background-image: url('/CERSAI/sc/themes/default/images/preloginImages/GrayBG.svg');
      opacity: 1;

    }
		/* html{
			height: 100%;
		}
		body{
			min-height: 100%;
			display:grid;
			grid-template-row:1fr auto;
		} */
body{
	overflow-y:auto;
}
.custom-scroll
{
	margin-top:0px;
	
}
sidelinks.row
{
	margin-right:0;
}
</style>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1212344379160921');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1212344379160921&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156441925-2">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156441925-2');
</script>
	
</head>
<body style="overflow: scroll!important;width:fit-content;min-width:100%">
	<h1 style="display:none">CERSAI</h1>
   


<script>

/* These are the config defined in deployConfiguration.properties file in configuration
 *
 * 
 *to use below funct constant call with getter function 
 * eg webConfig.get("chnlContextPath");
 * 
 * 
 */

 (function(){ 
	 
 var tcsStaticContent = {};

 function StaticContent(context){
		this.context = context;
	}

 
 
	StaticContent.prototype = {
			getStaticContent: function(){
				var private = {
				        'webContextPath': "https://cersai.org.in/CERSAI/",
				        'staticContentPath': "https://cersai.org.in/CERSAI/"
				    };

				    return {
				       get: function(name) { return private[name]; }
				   };
			}
	},

tcsStaticContent.staticContent = function(context) {
    return new StaticContent(context);
};

 window.tcsStaticContent = tcsStaticContent;
})();

</script>


<div>
	<form name="channelInfo" id="channelInfo">
		<input type="hidden" id="loginId" name="loginId"
			value="null" />
		<input type="hidden" id="authType" name="authType"
			value='null' />
		<input type="hidden" id="lastLoginTime" name="lastLoginTime" value="null"/>
		<input type="hidden" id="sessionTimeOut" name="sessionTimeOut" value="60">
		<input type="hidden" id="maxSessionTime" name="maxSessionTime" value="240">
		<input type="hidden" id="sessionAliveTimeOutPercent" name="sessionAliveTimeOutPercent" value="20">
		<input type="hidden" id="sessionCreationTime" name="sessionCreationTime" value="null"/>
	</form>
</div>

<!--  bootstarap 4 and its dependency module javascript files  starts-->

<script 
	src="sc/js/third_party_js/jquery/jquery.min.js"></script>
<script 
	src="sc/js/third_party_js/popper/popper.min.js"></script>
<script 
	src="sc/js/third_party_js/bootstrap/bootstrap.min.js"></script>
<!--  bootstarap 4 and its dependency module javascript files  ends-->

<!-- framework dependency javascript files starts-->
<script 
	src="sc/js/tcs_wf_js/base/tcs_eventcomm.js"></script>
<script 
	src="sc/js/tcs_wf_js/base/tcs_basecomm.js"></script>
<script 
	src="sc/js/tcs_wf_js/base/tcs_fragmentcomm.js"></script>
<script 
	src="sc/js/tcs_wf_js/base/tcs_datacomm.js"></script>
<script 
	src="sc/js/tcs_wf_js/base/tcs_pagecomm.js"></script>
<script 
	src="sc/js/tcs_wf_js/base/tcs_servecomm.js"></script>
<script 
	src="sc/js/tcs_wf_js/base/tcs_filecomm.js"></script>
<script 
	src="sc/js/third_party_js/other/aes.js"></script>



<!--  framework dependency javascript files ends-->

<script  
	src="sc/js/jsons/constants_en.json"></script>
<script  
	src="sc/js/jsons/constants_hi.json"></script>
<script  
	src="sc/js/jsons/constants_common.json"></script>
<script  
	src="sc/js/jsons/hindiValidations.json"></script>
<script  
	src="sc/js/jsons/englishValidations.json"></script>
<script  
	src="sc/js/jsons/aboutUs_en.json"></script>
<script  
	src="sc/js/jsons/aboutUs_hi.json"></script>
<script  
	src="sc/js/jsons/faqs_en.json"></script>
<script  
	src="sc/js/jsons/faqs_hi.json"></script>
<script  
	src="sc/js/jsons/feeStructure_en.json"></script>
<script  
	src="sc/js/jsons/feeStructure_hi.json"></script>
<script  
	src="sc/js/jsons/helpdesk_en.json"></script>
<script  
	src="sc/js/jsons/helpdesk_hi.json"></script>
<script  
	src="sc/js/jsons/rti_en.json"></script>
<script  
	src="sc/js/jsons/rti_hi.json"></script>
<script  
	src="sc/js/jsons/termsAndConditions_en.json"></script>
<script  
	src="sc/js/jsons/termsAndConditions_hi.json"></script>	
<script  
	src="sc/js/jsons/webManager_hi.json"></script>	
<script  
	src="sc/js/jsons/webManager_en.json"></script>	
<script  
	src="sc/js/jsons/downloads_en.json"></script>
<script  
	src="sc/js/jsons/downloads_hi.json"></script>
<script  
	src="sc/js/jsons/circulars_en.json"></script>
<script  
	src="sc/js/jsons/circulars_hi.json"></script>	
<script  
	src="sc/js/jsons/notifications_en.json"></script>
<script  
	src="sc/js/jsons/notifications_hi.json"></script>
<script  
	src="sc/js/jsons/policies_en.json"></script>
<script  
	src="sc/js/jsons/policies_hi.json"></script>
<script  
	src="sc/js/jsons/tenders_en.json"></script>
<script  
	src="sc/js/jsons/tenders_hi.json"></script>
<script  
	src="sc/js/jsons/webpolicies_en.json"></script>
<script  
	src="sc/js/jsons/webpolicies_hi.json"></script>
<!-- vue js dependency javascript files starts-->
<script 
	src="sc/js/third_party_js/vue/vue.js"></script>
	<script 
	src="sc/js/third_party_js/vue/vue-i18n.js"></script>
<script 
	src="sc/js/third_party_js/vue/vue-i18n-app.js"></script>
<script 
	src="sc/js/tcs_wf_js/base/tcs_vueCache.js"></script>
<script 
	src="sc/js/tcs_wf_js/base/tcs_keepsessionalive.js"></script>
<script 
	src="sc/js/third_party_js/vue/vee-validate.js"></script>
	
<script 
	src="sc/js/enums/common-constants.js"></script>
<script 
	src="sc/js/enums/stateList.js"></script>
<script 
	src="sc/js/enums/countryList.js"></script>

<script 
	src="sc/js/enums/districtList.js"></script>
	
<script 
	src="sc/js/third_party_js/vue/vue-custom-validations.js"></script>
	
<script 
	src="sc/js/third_party_js/vue/something-went-wrong.js"></script>

<script 
	src="sc/js/third_party_js/vue/vue-custom-directives.js"></script>
<script 
	src="sc/js/third_party_js/vue/vue-cersai-constants.js"></script>
<script 
	src="sc/js/third_party_js/vue/vue-custom-plugins.js"></script>
<script 
	src="sc/js/third_party_js/vue/vue-reusable-components.js"></script>
<script 
	src="sc/js/third_party_js/vue/vue-multiselect.js"></script>
<script 
	src="sc/js/third_party_js/vue/loader.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/address.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/address-new.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/address-immovable.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/address-immovable-new.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/asset-components.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/asset-display-components.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/asset-search-components.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/aor-search-component.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/ars-search-component.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/entity-search-component.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/si-search-component.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/asset-id-based-search-component.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/trxn-search-component.js"></script>
<script 
	src="sc/js/third_party_js/vue/cersai/trxn-history-component.js"></script>


<!--  vue js dependency javascript files ends-->

	 <script 
	src="sc/js/third_party_js/tablesaw/tablesaw.js"></script>
	
	 <script 
	src="sc/js/third_party_js/datatables/addons/datatables.js"></script>
	
	
   	<div id="mainheader" style="width:fit-content;min-width:100%">
    	


<div id="preloginheaderDiv">
<div class="header navbar navbar-expand-md py-0">
				<a :title="$t('textGovtIndiaComp')" class="navbar-brand" href="#">
					<!-- <img src="themes/default/images/preloginImages/emblem-logo.png" alt="govt logo"> -->
					<span class="pl-2">{{$t('textGovtIndiaComp')}}</span>
				</a> 
				<!-- <button title="header1Button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header1" aria-controls="header1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon custom"></span>
				</button> -->
				
				<form id="downloadAnyFiles">

				<custom-tb-text-input field-name="downloads" v-show="false"
					is-read-only=true field-display-name="downloads"
					field-div-css="form-group" field-css="form-control"
					value="downloads" mandatory=true validate="generic">
				</custom-tb-text-input>

				</form>
				
				<div class="lang-details ml-auto row">
			           <div><a :title="$t('textHelpdesk')" style="color: white;padding-right: 5px;" href="helpdesk.prg">{{$t('textHelpdesk')}}</a> | <a href="#" :title="$t('textWhatsNew')" style="padding-left: 5px;padding-right: 5px;" class="whatsNewInfo" onclick="window.location.href='/CERSAI/whatsnew.prg';"> {{$t('textWhatsNew')}}</a><a href="javascript:void(0);" :title="$t('textSkiptoMainContent')" style="color: white;padding-left: 5px;cursor: pointer;" v-show="isitHomePage" onclick="scrollToMainContent()">| {{$t('textSkiptoMainContent')}}</a></div>
			       				       	
			       	<div class="dropdown">
				        <a title="Text Size" href="#" data-toggle="dropdown">
				            <img src="sc/themes/default/images/preloginImages/ico-accessibility.png" alt="textSizeLogo" class="img-responsive">
				            <span class="caret"></span>
				        </a>
				        <ul class="dropdown-menu" style="min-width: 2rem;" >
				            <li><a href="#" title="Enlarged Font" style="font-size: small;cursor: pointer;" id="decrease-font-size" onclick="decreaseFontSize()">A-</a></li>
				            <li><a href="#" title="Regular Font Size" style="font-size: small;cursor: pointer;" id="reset-font-size" onclick="resetFontSize()">A</a></li>
				            <li><a href="#" title="Diminished Font Size" style="font-size: small;cursor: pointer;" id="increase-font-size" onclick="increaseFontSize()">A+</a></li>
				        </ul>
				    </div>
			        <a id="sitemaplink" :title="$t('sitemap')" href="sitemap.prg"> 
			        	<img src="sc/themes/default/images/preloginImages/ico-sitemap.png" alt="siteMapLogo">
			        </a>
					<span><a href="#" style="color:white" id="en" onclick="setLocaleEnglish(); return false;">English </a></span>| <span><a href="#" style="color:white" id="hi" onclick="setLocaleHindi(); return false;">Hindi</a></span>
			    </div>
            </div>

			<nav id="mainPreloginHeader" style="position :static ;" class="main-header navbar navbar-expand-md sticky-top">
				<a class="navbar-brand " href="home.prg" :title="$t('cersaiLogo')">	
					<img src="sc/themes/default/images/cersai_logo.png" alt="CERSAI logo" class="float-left px-3">
					<div class="cersai">
						<b>CERSAI</b>  
						<div class="cersai-full">
							<b>{{$t('cersaiTxt1')}}</b>
						</div>
						<div class="cersai-full">
							<b>{{$t('cersaiTxt2')}}</b>
						</div>
					</div>
				</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header2" aria-controls="header2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon custom"></span>
                </button>
				<div id="header2">
                    <div class="flex-cont">
                        <ul id="preloginMenu" class="nav navbar-nav nav-elements">
                            <li class="nav-item"><a :title="$t('textHomePage')" href="home.prg" class="nav-link1 active">{{$t('textHomePage')}}</a></li>
                            <li class="nav-item"><a :title="$t('userManuals')" href="userManuals.prg" class="nav-link1">{{$t('userManuals')}}</a></li>
                            <li class="nav-item dropdown">                            
                             <a :title="$t('textEntityRegn')" class="nav-link1 dropdown-toggle" href="#" id="entity-ps-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   {{$t('textEntityRegn')}}
                                </a>
                                <div class="ps-dropdown-menu dropdown-menu" aria-labelledby="entity-ps-dropdown">
                                    <a :title="$t('textEntityRegn')" class="dropdown-item" href="entityregn.prg">{{$t('textEntityRegn')}}</a>                    
                                    <a :title="$t('textEntityRegn')" class="dropdown-item" href="entityregnoc.prg">{{$t('textEntityRegn')}} - {{$t('otherCreditor')}}</a>
                                	<a :title="$t('textEntityRegnReport')" class="dropdown-item" href="entityregnReport.prg">{{$t('textEntityRegnReport')}}</a>
                                </div>
                            
                            </li>
                            <li class="nav-item dropdown">
                                <a :title="$t('publicSearch')" class="nav-link1 dropdown-toggle" href="#" id="ps-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{$t('publicSearch')}}
                                </a>
                                <div class="ps-dropdown-menu dropdown-menu" aria-labelledby="ps-dropdown">
                                    <a :title="$t('textAssetBasedSearchButton')" class="dropdown-item" href="asstsrch.prg">{{$t('assetBasedSearch')}} {{$t('textSearch')}}</a>
                                    <a :title="$t('textDebtorBasedSearchButton')" class="dropdown-item" href="dbtrsrch.prg">{{$t('dbtrSrch')}} {{$t('textSearch')}}</a>
                                    <a :title="$t('aorbasedSrch')" class="dropdown-item" href="aorsrch.prg">{{$t('aorSrch')}} {{$t('textSearch')}}</a>
                                    <a :title="$t('textSearchReport')" class="dropdown-item" href="searchreport.prg">{{$t('textSearchReport')}}</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a :title="$t('learnMore')" class="nav-link1 dropdown-toggle" href="#" id="lm-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{$t('learnMore')}}
                                </a>
                                <div class="lm-dropdown-menu dropdown-menu" aria-labelledby="lm-dropdown">
                                    <a :title="$t('feeStrt')" class="dropdown-item" href="feestructure.prg">{{$t('feeStrt')}}</a>  
                                    <a :title="$t('downloads')" class="dropdown-item" href="downloads.prg">{{$t('downloads')}}</a>                        
                                    <a :title="$t('policies')" class="dropdown-item" href="policies.prg">{{$t('policies')}}</a>                
                                    <a :title="$t('faqS')" class="dropdown-item" href="faq.prg">{{$t('faqS')}}</a>
                                    <a :title="$t('sitemap')" class="dropdown-item" href="sitemap.prg">{{$t('sitemap')}}</a> 
                                    <a :title="$t('webmanager')" class="dropdown-item" href="webmanager.prg">{{$t('webmanager')}}</a> 
                                </div>
                            </li>
                            <li class="nav-item">
                                <a :title="$t('eoDb')" class="nav-link1" href="eodb.prg" id="lm-dropdown-eodb" aria-haspopup="true" aria-expanded="false">
                                    {{$t('eoDb')}}
                                </a>
                            </li>
                            
                            <li class="nav-item" style="padding-bottom: 0px;padding-top: 0px;">
                            <a href="#" class="loginbtn btn px-4" data-toggle="modal" data-target="#loginModal" data-backdrop="static" data-keyboard="false" 
                            style="width: fit-content;display: flow-root;margin-left: auto;margin-right: auto;" :title="$t('textLogin')">{{$t('textLogin')}}</a>
                            
                            <div id="ResetPasswordPopup" style="margin-left: auto;margin-right: auto;">
                            
                            <a href="#" class="passwordInfo" v-on:click="displayResetPasswordInstructions()" :title="$t('fistTimeLoginInstrText')" style="font-size: 0.7rem;text-decoration: underline;">{{$t('fistTimeLoginInstrText')}}</a>
	                            <v-popup v-if="showResetPasswordInstructions" @close="closePopUp">
									<!-- <img src="themes/default/images/preloginImages/showResetPasswordInstructions.jpg"> -->
									<div style="margin-left: 2%;color:black !important">
												
										<div>
											
											<div style="font-size:24px" class="ml-auto mr-auto">{{$t('dos')}}</div>
											
											<div class="row">
											  	<ol style="text-align:left;">
												    <li style="color:black !important">{{$t('dostxt1')}}</li>
												    <li style="color:black !important">{{$t('dostxt2')}}</li>
												    <li style="color:black !important">{{$t('dostxt3')}}</li>
												    <li style="color:black !important">{{$t('dostxt4')}}</li>
											  	</ol>
											</div>
											
										</div>
										<br>
										<div>
											
											<div style="font-size:24px" class="ml-auto mr-auto">{{$t('donts')}}</div>
											
											<div class="row">
												<ol style="text-align:left;">
												    <li style="color:black !important">{{$t('dontstxt1')}}</li>
												    <li style="color:black !important">{{$t('dontstxt2')}}</li>
												</ol>
											</div>
										
										</div>
										<br>
										<div>
										
											<div style="font-size:24px" class="ml-auto mr-auto">{{$t('pwdResetInstr')}}</div>
											
											<div>
											
												<div style="text-align:left;font-size:20px">{{$t('pwdResetInstrtxt1')}}</div>
											
											</div>
											<div>
												<ul style="text-align:left;">
												    <li style="color:black !important">{{$t('pwdResetInstrtxt2')}}</li>
												</ul>    
												    <h6 style="text-align:left;font-size:20px">{{$t('pwdResetInstrtxt3')}}</h6>
												<ul style="text-align:left;">
												    <li style="color:black !important">{{$t('pwdResetInstrtxt4')}}</li>
												</ul>
											</div>
											
											<div>
											
												<h6 style="text-align:left;">{{$t('pwdResetInstrtxt5')}}</h6>
											
											</div>
											<div class="row">
												<ol style="text-align:left;">
												    <li style="color:black !important">{{$t('pwdResetInstrtxt6')}}</li>
												    
												    <li style="color:black !important">{{$t('pwdResetInstrtxt7')}}</li>
												</ol>
											</div>
											
											<br>
											
											<div>
											
												<h6 style="text-align:left;">{{$t('pwdResetInstrtxt8')}}</h6>
												<br>
												<h6 style="text-align:left;">{{$t('pwdResetInstrtxt9')}}</h6>
												<br>
												<h6 style="text-align:left;">{{$t('pwdResetInstrtxt10')}}</h6>
												<br>
												<h6 style="text-align:left;">{{$t('pwdResetInstrtxt11')}}</h6>
											</div>
										</div>
										
									</div>
								</v-popup>
                           
                           
                            </div>
							</li>
                            
                            <!-- <li class="nav-item">
                            <a class="loginbtn btn px-4" data-toggle="modal" data-target="#loginModal" data-backdrop="static" data-keyboard="false">Login</a></li> -->
                        </ul>
                        
                        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <!-- <div class="modal-header border-bottom-0">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div> -->
 <div class="modal-body">
	<div class="lg container-fluid" style="padding: 0%;">
		<div class="lg login">
			<div id="login" class="row no-gutters" style="text-align: center;">
				<div class="col-md-5 lg cersaiLogoPart">
					
					<b><a href="#" :title="$t('fistTimeLoginInstrText')" v-on:click="displayResetPasswordInstructions()" class="passwordInfo" data-dismiss="modal" aria-label="Close">{{$t('fistTimeLoginInstrText')}}</a></b><br>
		            <div class="lg cersaiLogo"><img src="sc/themes/default/images/lgcersailogo.png" :title="$t('cersaiLogo')" alt="CERSAI Logo" class="img-fluid"></div>
		            <div class="lg cersaifull"> {{$t('textCERSAIFullform')}}</div>
	            </div> 
	                   
				<div v-if="!showResetPasswordInstructions" class="col-md-7  lg login-form-1" >
					<div class="lg welcome">{{$t('welcomeToCERSAI')}}
					<button :title="$t('closeModal')" type="button" class="close" data-dismiss="modal" style="color:red" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
					<form action="/CERSAI/home.prg" method="post" v-on:submit="hash" autocomplete="off">
					
						<input ref='passphrase_ref' type="hidden"
									value="IAmOneTWoi123456thequickBrownFoxJumpsOverTheLazyDog">
						
						<login-custom-input field-name="j_username" :field-display-name="$t('loginID')"
							v-model="loginID">
						</login-custom-input>
						
						<tb-password-input field-name="pwd1" :field-display-name="$t('password')"
									field-div-css="form-group" field-css="form-control" v-model="password">
						</tb-password-input>
						
						<input type="hidden" ref='pwd2_ref' name='j_password' />
						
						<div class="lg form-group">
						    <div class="lg label1">
						        <p>{{$t('captcha')}}:</p>
						    </div>
						    <div class="lg box1">
						       <img ref='captcha_ref' class="lg form-control" src="captcha.jpg" alt="Login Captcha">
						    </div>
						    <div class="lg recycle" v-on:click="changeCaptcha" tabindex="0"><img alt="reload" src="sc/themes/default/images/recycle.svg" :title="$t('reloadCaptcha')" style="margin-top:-45px"></div>
						    <div class="lg recycle" id="captchaSound" style="margin-top: -30px;margin-right: 0;"  v-on:click="playVoiceCaptcha"><a href="javascript:void(0);" :disabled="!isVoiceCaptchaIconEnabled" title="Voice Captcha" style="cursor: pointer;"><span><i class="fa fa-volume-up" aria-hidden="true"></i></span></a></div>
						</div>
						<login-captcha-input field-name="jcaptcha" :field-display-name="$t('captcha')"
								v-model="captcha">
						</login-captcha-input>
						
						<input type="hidden" name="userType" id="userType" value="ADMIN">
						<input type="hidden" name="authFactor" id="authFactor" value="LOGINCREDENTIAL">
						<input type="hidden" name="digitalSignature" id="digitalSignature" value="DSFDSbfdgd4364365gvfdreggfdgFGDGFDg" />
						
						<div class="lg wrapper loginbutton">
						    <button  :title="$t('textLogin')" type="submit" class="lg btn" :disabled="isDisabled">{{$t('textLogin')}}</button><br />
						    <a class="lg ForgetPwd" href="frgtpassword.prg">{{$t('forgotPwd')}}</a>
																
																</div>					
															</form>
														</div>
														
													</div>
												</div>
											</div>
										 </div>
                                      </div>
                                    </div>
                                  </div>
                        
                        
                    </div>
					
				</div>
			</nav>
</div>


<script>

function downloadWhatsNew()
	{
	
	var downloadFileJson = {FileTypeId :'5', 
							fileId :'20', 
							fileName :'Salient_Features.pps'
							};
	
	tcsFileComm.downloadFile({

		formId : 'downloadAnyFiles', //	  formId of the form in which file is selected 
		actionId:"cersaicontentmanagement_getDownloadableFileAction", //	  actionId of the service //
		contentType : "application/json", //content type	  of data in which format data is present 
		serverCommMode : "sync",
		
		data: 
		{
			l_objJSONObject : downloadFileJson
									
		},
		successcallback : function(response) {
			
		}

	});
	}


  //Immediately Invoked Function Expression
  $(
    (function () {
      global = {
        init: function () {
          this.leftPanelSlide();
        },
        leftPanelSlide: function () {
          /* LeftPanel arrows Function */
          var hyt = $(window).height() - 60;
          $(".menuLeftSideUl").height(hyt);
          $(window).resize(function () {
            $(".menuLeftSideUl").height($(window).height() - 60);
          });

          $("#tabMenuIcn").on("click", function () {
            if ($("#lftSide").hasClass("exp") == true) {
              $("#lftSide").removeClass("exp");
              $("#lftSide").animate(
                {
                  left: -250,
                },
                400,
                function () {}
              );
            } else {
              $("#lftSide").addClass("exp");
              $("#lftSide").animate(
                {
                  left: 0,
                },
                400,
                function () {}
              );
            }
          });
        },
      };
    })()
  );
  $(document).ready(function () {
    //global.init();
  });
  
  window.onpaint = checkOrSetLocale();

  window.onpaint = setOrRemoveActiveClass();

  function setOrRemoveActiveClass()
  {
	  var header = document.getElementById("preloginMenu");
	  var btns = header.getElementsByClassName("nav-link1");
	  for (var i = 0; i < btns.length; i++) {
	    btns[i].className =  btns[i].className.replace(" active", "");
	    }
	  if(window.location.pathname == "/CERSAI/home.prg")
	  {
	  document.getElementById("preloginMenu").getElementsByClassName("nav-link1")[0].classList.add("active");
	  }  
	  else if(window.location.pathname == "/CERSAI/userManuals.prg")
	  {
	  document.getElementById("preloginMenu").getElementsByClassName("nav-link1")[1].classList.add("active");
	  }
	  else if(window.location.pathname == "/CERSAI/entityregn.prg" || window.location.pathname == "/CERSAI/entityregnoc.prg" || window.location.pathname == "/CERSAI/entityregnReport.prg")
	  {
	  document.getElementById("preloginMenu").getElementsByClassName("nav-link1")[2].classList.add("active");
	  }
	  else if(window.location.pathname == "/CERSAI/asstsrch.prg" || window.location.pathname == "/CERSAI/dbtrsrch.prg" || window.location.pathname == "/CERSAI/aorsrch.prg")
	  {
	  document.getElementById("preloginMenu").getElementsByClassName("nav-link1")[3].classList.add("active");
	  }
	  else if(window.location.pathname == "/CERSAI/feestructure.prg" || window.location.pathname == "/CERSAI/downloads.prg" || window.location.pathname == "/CERSAI/policies.prg" || window.location.pathname == "/CERSAI/faq.prg" || window.location.pathname == "/CERSAI/sitemap.prg" || window.location.pathname == "/CERSAI/webmanager.prg")
	  {
	  document.getElementById("preloginMenu").getElementsByClassName("nav-link1")[4].classList.add("active");
	  }
	  else if(window.location.pathname == "/CERSAI/eodb.prg")
	  {
	  document.getElementById("preloginMenu").getElementsByClassName("nav-link1")[5].classList.add("active");
	  }
	  
	}
  
  function checkOrSetLocale()
  {
	  if(sessionStorage.getItem("lang")!=null)
	  {
		  if(sessionStorage.getItem("lang")=='hi')
		  {
			  document.getElementById("hi").style.color= "yellow";
			  document.getElementById("en").style.color= "white";
		  }
		  else if(sessionStorage.getItem("lang")=='en')
		  {
			  document.getElementById("en").style.color= "yellow";
			  document.getElementById("hi").style.color= "white";
		  }
	  }
	  else
	  {
		  sessionStorage.setItem("lang",'en');
		  document.getElementById("en").style.color= "yellow";
		  document.getElementById("hi").style.color= "white";
	  }
  }
  function setLocaleEnglish()
  {
	  sessionStorage.setItem("lang",'en');
	  try
	  {
		  checkOrSetLocale();
	  }
	  catch(e)
	  {
		  console.log(e)
	  }
	  tcs_globalEventHandlarObj.publishGlobalEvent("localechanged",'en');
  }
  function setLocaleHindi()
  {
	  sessionStorage.setItem("lang",'hi');
	  try
	  {
		  checkOrSetLocale();
	  }
	  catch(e)
	  {
		  console.log(e)
	  }
	  tcs_globalEventHandlarObj.publishGlobalEvent("localechanged",'hi');
  }
  
  function scrollToMainContent()
  {
	  document.getElementById("mainContentCards").scrollIntoView({ behavior: "smooth" });
  }
</script>
<script src="fragments/PreLoginManagement/HomeFragment/component/login.js"></script>

    </div>
   
   	<div id="mainbody" style="width:99vw;min-width:100%">
		<div id="feestructure">
<div class="maindiv"></div>
<div class="errordiv"></div>
</div>


<script>
tcsServeComm.fragment("#feestructure").render({
	url:"feestructure.frg",
	type:"POST",
	data:{ },
	targetdiv:'feestructure',
	contentType : "application/json",
	successcallback : function(response){
		if($("#feestructure .maindiv").is(':empty')){
			 $("#feestructure .maindiv").append(response);
		}
			  
	}
});
</script>
	</div>
	<div id="mainfooter" style="width:fit-content;min-width:100%">
    	<footer class="footer">
<div id="myFooter">
    <div class="footer-container">
     <div class="footer-row">
         <div class="footer-cols">
             <div class="footer-col-heading">{{$t('textQuickLinks')}}</div>
             <p><a :title="$t('downloads')" style="color: white;" href ="downloads.prg">{{$t('downloads')}}</a></p>
             <p><a :title="$t('archives')" style="color: white;" href ="archives.prg">{{$t('archives')}}</a></p>
             <p><a :title="$t('contactUs')" style="color: white;" href ="contactus.prg">{{$t('contactUs')}}</a></p>
             <p><a :title="$t('abtUs')" style="color: white;" href ="aboutus.prg">{{$t('abtUs')}}</a></p>
         </div>
         <div class="footer-cols">
            <div class="footer-col-heading"></div>
             <p><a :title="$t('textWorkingHours')" style="color: white;" href ="workinghours.prg">{{$t('textWorkingHours')}}</a></p>
             <p><a :title="$t('circulars')" style="color: white;" href ="circulars.prg">{{$t('circulars')}}</a></p>
             <p><a :title="$t('websitePolicies')" style="color: white;" href ="websitepolicies.prg">{{$t('websitePolicies')}}</a></p>
             <p><a :title="$t('notifications')" style="color: white;" href ="notifications.prg">{{$t('notifications')}}</a></p>
         </div>
         <div class="footer-cols">
            <div class="footer-col-heading"></div>
             <p><a :title="$t('tNc')" style="color: white;" href ="tnc.prg">{{$t('tNc')}}</a></p>
             <p><a :title="$t('tenders')" style="color: white;" href ="tenders.prg">{{$t('tenders')}}</a></p>
             <p><a :title="$t('textHelp')" style="color: white;" href ="help.prg">{{$t('textHelp')}}</a></p>
             <p><a :title="$t('feedback')" style="color: white;" href ="feedback.prg">{{$t('feedback')}}</a></p>
         </div>
         <div class="footer-cols">
            <div style="margin-bottom: 0.5rem; margin-top: 1rem;" class="footer-col-heading">{{$t('reachUs')}}</div> 
            <div class="contact-container">               
                   <div><i class="fa fa-phone" aria-hidden="true"></i></div>
                   <div>8448535339, 9310342361</div>
                   <div></div>
                  <div>8595542303</div>
                  <div></div>
                   <div></div>
                   <div><i class="fa fa-info-circle" aria-hidden="true"></i></div>
                   <div>helpdesk[at]cersai[dot]org[dot]in</div>
                   <div></div>
                   <div><a :title="$t('raiseTicket')" style="color: white;" href ="incidenttckt.prg">{{$t('raiseTicket')}}</a></div>
                   <div></div>
                   <div><a :title="$t('getTicketDetails')" style="color: white;" href ="incidentstatusreq.prg">{{$t('getTicketDetails')}}</a></div>                              
            </div>                     
         </div>
     </div>
    </div>
    <hr class="hrule">
    <div class="bottom-footer">
         <div>
         	<span style="margin-right:1vw">{{$t('bestViewBrowser')}}</span>
            <span style="margin-right:2vw">{{$t('visitorCount')}} : {{visitorCount}}</span><br>
            <span>{{$t('lastUpdatedDate')}} : {{swapDateFormat(lastUpdatedDate)}}</span>     
            <span>{{$t('versionValue')}}</span> 
         </div> 
         <div class="copy-right">
            COPYRIGHT © 2021 CERSAI ALL RIGHTS RESERVED 
         </div>      
     </div>
</div>     
</footer>
  
<!-- <link rel="stylesheet" href="http://localhost:8080/CERSAI/themes/default/css/font-awesome.min.css"> -->

<script>
var myFooterInstance=new Vue({
	el:'#myFooter',
		data:
		{
			visitorCount:'',
			lastUpdatedDate:''
		},
		i18n:i18n, 
		created:function()
		{ 
			message.en = JSON.parse(englishData).messages;
			message.hi = JSON.parse(hindiData).messages;
			
			if(sessionStorage.getItem("lang")!= null)
			{
	    		this.$i18n.locale = sessionStorage.getItem("lang");
	    	}
			else
			{
				sessionStorage.setItem("lang",'en');
				this.$i18n.locale = 'en';
			}
			this.getGlobalParamDetails();
		},
		mounted:function()
		{
			tcs_globalEventHandlarObj.subscribeEvent("localechanged",this.localeUpdated);
		},
		methods:
		{
			localeUpdated:function(lang)
			{
				this.$i18n.locale  = lang;
			},
			swapDateFormat(date)
			{
				return CersaiPlugin.swapDateFormat(date);
			},
			getGlobalParamDetails:function()
			{
				tcsServeComm.utils(document).rest({
				      url: 'cersaiBase_getCERSAIGlobalParamsAction',
				      type: 'POST',
				      data: {
				      },
				      targetdiv: 'myFooter',
				      contentType: "application/json",
				      successcallback: function(response)
				      {
				    	 if(JSON.parse(response).header.status == "success")
				    	 {
				    		 var obj = JSON.parse((JSON.parse(response).body));
				    		 console.log(obj);
				    		 var dateObj = obj[0];
				    		 myFooterInstance.lastUpdatedDate = dateObj[1];
				    		 var countObj = obj[2];
				    		 myFooterInstance.visitorCount = countObj[1];
				    	 }
				      }
				});
			},
		}
});
</script>
    </div>
	




	<button onclick="topFunction()" id="myBtn" title="Go to top"></button>
	<script src="fragments/PreLoginManagement/HomeFragment/component/top.js"></script>
</body>
</html>